# Spustitelné binární soubory a objektové soubory
*.o
*.so
*.a
*.out
ifj26
compiler
compiler-debug

# Archivy
*.zip
*.tar.gz

# Editor / IDE specifické složky a soubory
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
.idea/
*.swp
/build

# OS balast
.DS_Store
Thumbs.db